@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, input, button, textarea {
  font: inherit;
}

html {
  font: 12px/1.5 'IBM Plex Mono', sans-serif ;
}
body {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #0d0d0d;
  color: #fff;
  width: 900px;
  padding: 0 30px 30px;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.header {
  background-color: #1a1a1a;
  padding: 15px 30px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 30px;
}

.header ul li {
  color: #ccc;
  cursor: pointer;
  transition: color 0.3s;
}

.header ul li:hover {
  color: #fff;
}

.icons img {
  width: 20px;
  margin-left: 20px;
  filter: brightness(0) invert(0.7);
  transition: filter 0.3s;
}

.icons img:hover {
  filter: brightness(0) invert(1);
}

.profile {
  display: flex;
  align-items: center;
  gap: 50px;
  text-align: left;
}

.profile h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.profile p {
  display: flex;
  color: #aaa;
  line-height: 1.5;
  max-width: 300px;
}

.profile button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
  margin-top: 15px;
}

.profile button:hover {
  background-color: #45a049;
}

.profile img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 5px solid #fff;
  object-fit: cover;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}


.fotter {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.fotter h3 {
  color: #fff;
  opacity: 0.7;
  font-weight: 600;
}

.img { 
  display: flex;
  gap: 20px;
}

.fotter img {
  width: 140px;
  height: 60px;
  object-fit: contain;
  padding: 10px;
  border: 1px solid #464646;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
