<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>

  <header th:fragment="header">
    <div class="nav container">

        <i class='bx bx-menu' id="menu-icon"></i>

        <a href="#" class="logo">Car <span>Point</span></a>

        <ul class="navbar">
            <li><a href="#home" class="active">Home</a></li>
            <li><a href="#cars">Cars</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#parts">Parts</a></li>
            <li><a href="#blog">Out Blog</a></li>
        </ul>

        <i class='bx bx-search' id="search-icon"></i>

        <div class="search-box container">
            <input type="search" name="" id="" placeholder="Search here...">
        </div>

    </div>
</header>

  <div class="login-container">
    <h1>Login</h1>
    <form>
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit">Login</button>
    </form>
  </div>

  <section th:fragment="footer" class="footer">
    <div class="footer-container container">
        <div class="footer-box">
            <a href="#" class="logo">Car <span>Point</span></a>
            <div class="social">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-instagram'></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
            </div>
        </div>
        <div class="footer-box">
            <h3>Page</h3>
            <a href="#">Home</a>
            <a href="#">Cars</a>
            <a href="#">Sales</a>
        </div>
        <div class="footer-box">
            <h3>Legal</h3>
            <a href="#">Privacy</a>
            <a href="#">Refund Policy</a>
            <a href="#">Cookie Policy</a>
        </div>
        <div class="footer-box">
            <h3>Contact</h3>
            <p>Bulgaria</p>
            <p>Germany</p>
            <p>United States</p>
        </div>
    </div>
</section>

<div class="copyright">
    <p>&#169; Thank you for visited my website</p>
</div>
<!-- Link to JS -->
<script src="/static/main.js"></script>
</body>
</html>
